* {
    margin: 0;
    padding: 0;
}

.Top{
    background-color: rgb(19, 18, 18);
    text-align: right;
}

header{
    background-image: url(./images/hero-image.jpg);
    height: 100vh;
    text-align: center;
    background-size: 170%;
    color: #fafafa;
}

#involved{
    background-color: rgb(102, 100, 98, 0.1)
}

h2, h3{
    color: #e74c3c;
}

button{
    background-color: red;
    color: #fafafa;
}

footer{
    background-color: #e74c3c;
    height: 150px;
}