* {
    margin: 0;
    padding: 0;
}

.Top{
    background-color: rgb(19, 18, 18);
    text-align: right;
}

header{
    background-image: url(./images/hero-image.jpg);
    height: 100vh;
    text-align: center;
    background-size: 170%;
    color: #fafafa;
}

button{
    background-color: red;
    color: #fafafa;
}

footer{
    
}