* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "halfings";
    src: url("./fonts/glyphicons-halflings-regular.woff2") format("Woff2"),
        url("./fonts/glyphicons-halflings-regular.ttf") format("truetype"),
}
/*Header*/
header{
    background-color: rgb(19, 18, 18);
    padding: 30px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
    opacity: 60%;
    margin-right: 15px;
    text-align: right;
}

.header{
    background-image: url(./images/hero-image.jpg);
    height: 100vh;
    background-size: 170%;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;


section {
padding: 30px
}

section:nth-of-type(2n){
    background-color: #f5f5f5;

}

h3{
    color: #f74c3c;
    font-family: 'PT Serif Caption', serif;
    }


.header > h1{
    font-family: 'PT Serif Caption', serif ;
    font-size:450%;
    text-align: center;
    margin-top: 30px;
}
.header > p{
    width: 80%;
    font-size: 180%;
    font-family: "halfing", sans-serif;
    opacity: 80%;
    text-align: center;
    margin-top: 40px;
    line-height: 40px;


}
.header >img {
    width: 10%;
    margin-top: 60px;

}

.header >button{
    background-color: #E74C3C;
    height: 100px;
    width: 300px;
    color: #fafafa;
    font-size: 40px;
    padding: 6px;
    border-radius: 7px;
    margin-top: 30px;
}


/*Section 1*/

.whoweare{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "halfing", sans-serif;
    text-align: center;
    

}
.whoweare > img{
    width: 25vh;
    margin-bottom: 30px;
}
.whoweare > p{
    font-size: xx-large;
    line-height: 40px;
}
.whoweare > p > span{
    color:#E74C3C ;
}
h2{
    color:#E74C3C ;
    font-size: xx-large;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
h2:after{
    display: block;
    height: 1.5px;
    background-color: #E74C3C;
    width: 160px;
    content: "";
    margin:0 auto;
    margin-top: 10px;
    

.button2{
    background-color: rgb(255, 255, 255);
    color: #f74c3c;
    border-color: rgba(128, 128, 128, 0.747);
    border-radius: 4px;
    padding: 7px;
    margin: 10px;
    font-weight: 780;
}


.bloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vh;
    margin: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.corpse {
    display: flex;
    justify-content:space-around;
    text-align: center;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: #f74c3c;
    padding-bottom: 26px;
    padding-top: 175px;
}

footer > img{
    width: 20%;
    padding-left: 100px;
}

.icone {
    padding: 40px;
    border-radius: 50%;
    background-color:#333333;
    color: white;
    margin:30px;
} 

i {
    justify-content: center;
    font-size: 60px;
}

.chevron {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333333;
    border-radius: 50px;

}